body {
        font-size: 16px;                       // main body
        color: #ffffff;
        background-color: black;
        position: relative;
        box-sizing: border-box;
        display: flex;
        font-family: OpenSans;
        font-weight: 400;
        outline: none;
    }
      .main.container{
        display: flex;                         //Parent container
        text-align: center;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
            position: absolute;
            top: 400px;
            left: 410px;
    }
    .image-container {                         // image container
        vertical-align: middle;
        position: absolute;
        flex: 0 1 50%;
        top: 280px;
        left: 150px;
    }
      .section {                                     //choose an option
    position: absolute;
    flex: 0 1 50%;
    top: 330px;
    left: 410px;
}

@media (max-width:600px) {
    .main.container{
        display: flex;                         //Parent container
        text-align: center;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
            position: absolute;
            top: 560px;
            left: 210px;
    }
    .image-container {                         // image container
        vertical-align: middle;
        position: absolute;
        flex: 0 1 50%;
        top: 280px;
        left: 150px;
    }
}