body {
        font-size: 16px;                       // main body
        color: #ffffff;
        background-color: black;
        position: relative;
        box-sizing: border-box;
        display: flex;
        font-family: OpenSans;
        font-weight: 400;
        outline: none;
    }
      .container{
        display: flex;                         //Parent container
        text-align: center;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
            position: absolute;
            top: 400px;
            left: 410px;
    }
        a {
            color: white;
            text-decoration: none;
            @include mobile {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            top: 54px;
            position: relative;
            width: 100%;
            }
        .article-list {
        position: relative;
        flex-wrap: wrap;
        color: white;
        display: flex;       
        font-size: 16px;
        font-family: 'SansOpen', sans-serif;
        top: 55px;
        position: relative;
         justify-content: center;
        }
       .container {                        
        vertical-align: middle;
        position: absolute;
        flex: 0 1 50%;
        top: 280px;
        left: 150px;
    }
      .section {                                     //choose an option
    position: absolute;
    flex: 0 1 50%;
    
    right: 380px;
    top: 350px;
}
p {
    color: white;
}
img {
    background-size: cover cover;
    position: relative;
}

.photo{
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.list-text{
    height: 20%;
    background-color: gray;
}
@media (max-width:600px) {
    .container{
        display: flex;                         //Parent container
        text-align: center;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
            position: absolute;
            top: 560px;
            left: 210px;
    }
    .container {                         
        vertical-align: middle;
        position: absolute;
        flex: 0 1 50%;
        top: 280px;
        left: 150px;
    }
    p {
        color: white;
    }
}

a {
    color: white;
    text-decoration: none;
    @include mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 420;
    }
}
.list-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    font-size: 16px;
    font-family: 'OpenSans', sans-serif;
    top: 55px;
    position: relative;
}
@include mobile {
    flex-direction: row;
}
.story-items {
    flex-direction: row;
    flex-basis: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    flex-grow: 1;
    @include mobile {
        flex-basis: 50%;
        @include desktop {
            flex-basis: 25%;
            height: 420px;
        }
    }
}
li:hover .content-text {
    height: 30%;
}
img {
    background-size: cover cover;
    position: relative;
}
        }