


@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "global";

/********************* Desktop *******************************/

@media screen and (min-width: 1000px) {

body {
        font-size: 16px;                       // main body
        color: #ffffff;
        background-color: black;
        position: relative;
        box-sizing: border-box;
        display: flex;
        font-family: OpenSans-Light;
    }
    .main.container{
        display: flex;                         //Parent container
        text-align: center;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
    }
    .image-container {                         // image container
        vertical-align: middle;
        top: 250px;
        left: 160px;
        position: absolute;
        flex: 0 1 50%;
    }
      footer {                                 // footer
      position: absolute;
      top: 650px;
      left: 150px;
      color: #c2c2c2;
      flex: 0 1 50%;
}
.section {                                     //choose an option
    position: absolute;
    top: 500px;
    left: 209px;
    flex: 0 1 50%;
}
}

/********************** Tablet ****************************/

@media (min-width:600px) and (max-width:1000px) {
 body {
        font-size: 16px;                       // main body
        color: #ffffff;
        background-color: black;
        position: relative;
        box-sizing: border-box;
        display: flex;
         font-family: OpenSans-Light;
    }
    .main.container{
        display: flex;                         //Parent container
        text-align: center;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
    }
    .image-container {                         // image container
        vertical-align: middle;
        position: absolute;
        flex: 0 1 50%;
        top: 280px;
        left: 150px;
    }
      footer {                                 // footer
      position: absolute;
      top: 650px;
      left: 150px;
      color: #c2c2c2;
      flex: 0 1 50%;
}
.section {                                     //choose an option
    position: absolute;
    flex: 0 1 50%;
    top: 330px;
    left: 410px;
}
}

/********************** Mobile ****************************/

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;                       // main body
        color: #ffffff;
        background-color: black;
        position: relative;
        box-sizing: border-box;
        display: flex;
         font-family: OpenSans-Light;
    }
    .main.container{
        display: flex;                         //Parent container
        text-align: center;
    }
    .options {
            text-align: center;                //drop-down menu
            width: auto;
            vertical-align: middle;
    }
    .image-container {                         // image container
        vertical-align: middle;
        top: 250px;
        left: 160px;
        position: absolute;
        flex: 0 1 50%;
    }
      footer {                                 // footer
      position: absolute;
      top: 650px;
      left: 150px;
      color: #c2c2c2;
      flex: 0 1 50%;
}
.section {                                     //choose an option
    position: absolute;
    top: 500px;
    left: 209px;
    flex: 0 1 50%;
}
}













