


@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "global";
@import "footer";



/********************** Mobile ****************************/


  
.section {                                     //choose an option
    position: absolute;
    flex: 0 1 50%;
    top: 500px;
    left: 210px;
}














